external_url '{{ gitlab_external_url }}'

gitlab_rails['time_zone'] = 'Europe/Paris'

gitlab_rails['initial_root_password'] = "{{ gitlab_root_password }}"
gitlab_rails['initial_shared_runners_registration_token'] = "{{ gitlab_ci_registration_token }}"

postgresql['enable'] = false
gitlab_rails['db_adapter'] = "postgresql"
gitlab_rails['db_encoding'] = "utf8"
gitlab_rails['db_database'] = "{{ gitlab_db_name }}"
gitlab_rails['db_username'] = "{{ gitlab_db_username }}"
gitlab_rails['db_password'] = "{{ gitlab_db_password }}"
gitlab_rails['db_host'] = "{{ gitlab_db_host }}"
gitlab_rails['db_port'] = {{ gitlab_db_port }}

redis['enable'] = false
gitlab_rails['redis_host'] = "{{ gitlab_cache_host }}"
gitlab_rails['redis_port'] = {{ gitlab_cache_port }}

high_availability['mountpoint'] = '{{ gitlab_data_mountpoint }}'
git_data_dirs({"default" => "{{ gitlab_data_mountpoint }}/git-data"})
user['home'] = '{{ gitlab_data_mountpoint }}/'
gitlab_rails['uploads_directory'] = '{{ gitlab_data_mountpoint }}/gitlab-rails/uploads'
gitlab_rails['shared_path'] = '{{ gitlab_data_mountpoint }}/gitlab-rails/shared'
gitlab_ci['builds_directory'] = '{{ gitlab_data_mountpoint }}/gitlab-ci/builds'

web_server['username'] = "gitlab-www"
web_server['group'] = "gitlab-www"
web_server['uid'] = 999
web_server['gid'] = 999

user['username'] = "git"
user['group'] = "git"
user['uid'] = 998
user['gid'] = 998

nginx['real_ip_trusted_addresses'] = [ '{{ gitlab_proxy_subnets|join('\', \'') }}' ]
nginx['real_ip_header'] = 'X-Real-IP'
nginx['real_ip_recursive'] = 'on'
